# volatile folders intended for local usage
/.vagrant
/backup
/provisioning/callback_plugins
/tmp

# apt-cache-ng configurations (user may specify one if needed)
/provisioning/roles/common/vars/aptcacher.yml
