#!/bin/bash
set -e
source {{ scripts_dir }}/functions.sh

FPREFIX=$(get_backup_prefix)

###############################################################################
# backup jenkins home directory
backup_tar {{ backup_dir_jenkins }} ${FPREFIX} {{ backup_filename_jenkins }} {{ jenkins_home_dir }}
