#!/bin/bash
set -e
source {{ scripts_dir }}/functions.sh

FPREFIX="{{ timestamp.stdout }}"

###############################################################################
# gitlab application backup (db, repositories etc)
sudo gitlab-rake gitlab:backup:create
gitlab_backup_file=`get_newest_file {{ gitlab_backup_dir }} gitlab_backup.tar`
sudo cp {{ gitlab_backup_dir }}/${gitlab_backup_file} {{ backup_dir_gitlab }}/${FPREFIX}_${gitlab_backup_file}

###############################################################################
# backup /etc/gitlab
backup_tar \
	{{ backup_dir_gitlab }} \
	${FPREFIX} \
	{{ backup_filename_gitlab }} \
	/etc/gitlab
