#!/bin/bash
FPREFIX={{ backup_file_prefix }}

# gitlab application backup (db, repositories etc)
sudo gitlab-rake gitlab:backup:create
gitlab_backup_file=$(ls {{ gitlab_backup_dir }} | sort -r | head -1)
sudo cp {{ gitlab_backup_dir }}/${gitlab_backup_file} {{ backup_dir_gitlab }}/${FPREFIX}_gitlab_backup.tar

# backup /etc/gitlab
tar -cf {{ backup_dir_gitlab }}/${FPREFIX}_etc-gitlab.tar -C / /etc/gitlab
